# the reference of image to `php` service
PHP_IMAGE="lyseontech/php-apache-dev:v7.3"
# use empty to ignore bind
PHP_PORT_HOST=
# use empty to ignore bind
PHP_PORT_CONTAINER=

# the reference of image to `composer` service
COMPOSER_IMAGE="lyseontech/php-apache-dev:v7.3"
# use empty to ignore bind
COMPOSER_PORT_HOST=
# use empty to ignore bind
COMPOSER_PORT_CONTAINER=

# the reference of image to `node` service
NODE_IMAGE="lyseontech/node:v10.6.0"
# use empty to ignore bind
NODE_PORT_HOST=
# use empty to ignore bind
NODE_PORT_CONTAINER=

# the reference of image to `vue` service
VUE_IMAGE="lyseontech/vue:v3.0.0-rc.3"
# use empty to ignore bind
VUE_PORT_HOST=8000
# use empty to ignore bind
VUE_PORT_CONTAINER=8000

# the reference of image to `quasar` service
QUASAR_IMAGE="lyseontech/quasar:v0.16.4.1"
# use empty to ignore bind
QUASAR_PORT_HOST=8080
# use empty to ignore bind
QUASAR_PORT_CONTAINER=8080
