# the name of global image what will be executed
T_DOCKERIZE_IMAGE=""
# the name of container must be with folder-service
T_DOCKERIZE_SERVICE="app"
# volume to bind inside container
T_DOCKERIZE_VOLUME_ROOT="/var/www/app"
# home of user into image
T_DOCKERIZE_USER_HOME="/home/application"
# default port to bind in host
T_DOCKERIZE_PORT_HOST=3100
# default port to bind in container
T_DOCKERIZE_PORT_CONTAINER=3100
# determine if debug will show commands executed
T_DOCKERIZE_DEBUG=true
