PHP_IMAGE="ambientum/php:7.2"
PHP_PORT_HOST=
PHP_PORT_CONTAINER=

COMPOSER_IMAGE="ambientum/php:7.2"
COMPOSER_PORT_HOST=
COMPOSER_PORT_CONTAINER=

VUE_IMAGE="lyseontech/vue"
VUE_PORT_HOST=
VUE_PORT_CONTAINER=

QUASAR_IMAGE="lyseontech/quasar"
QUASAR_PORT_HOST=8080
QUASAR_PORT_CONTAINER=8080
